
/* #map, */
/* body, */
/* html {
  height: 100%;
} */

#map1, #map2 { width: 49.5%; height: 100%; min-height: 100vh;}
#map1 { float: left; }
#map2 { float: right; }

/* Resets */
hr {
  margin-left: 0;
  max-width: 40px;
}

/* Jumbotron (hero) */
.jumbotron {
  position: relative;
  background: url(https://source.unsplash.com/-D09rH5sTw4/1920x1080);
  
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
  }
  
  .container {
    padding: 75px 0;
  }
  
  h1,
  .lead {
    color: #fff;
  }
}

/* Bustom button */
.btn-primary {
  background: #1096fc;
  border: 0;
  
  &:hover {
    background-color: darken(#1096fc, 7%);
  }
}

/* Features */
.sec-features {
  .row {    
    &:nth-of-type(n+2) {
      margin-top: 160px;
    }
    
    &:last-of-type {
      margin-bottom: 160px;
    }
  }
  
  .feature-icon {
    max-width: 150px;
  }
}

/* Testimonials */
.sec-testimonials {
  padding-top: 128px;
  padding-bottom: 128px;
}

/* Carousel */
.carousel-indicators {
  bottom: -30px;

  li {
    background: rgba(33, 33, 33, .1);

    &:focus,
    &:hover {
      background-color: rgba(33, 33, 33, .5);
    }
  }
  
  .active {
    background: rgba(33, 33, 33, .75);
  }
}

.carousel-control-next,
.carousel-control-prev {
  & {
    color: #212121;
  }

  &:focus,
  &:hover {
    color: #111;
  }
}

/* Footer */
.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #212121;
  
  li {
    &:nth-of-type(n+2) {
      margin-left: 8px;
    }
  }
  
  a {
    font-size: 18px;
    color: rgba(255, 255, 255, .5);
    transition: color .235s ease-in-out;
    
    &:focus,
    &:hover {
      color: rgba(255, 255, 255, .25);
    }
  }
}

/* styles for sliders */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* .bg1{
  background: url(https://source.unsplash.com/Q_Moi2xjieU/1920x1080),
  width: 100%;
  height: 100%;
} */