<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Charts</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <link rel="stylesheet" href="../static/css/L.Control.ZoomBox.css" />
  
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/L.Map.Sync.js"></script>

  </head>

  <body>
    <p>Page for data table</p>
    <!-- API key -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="../static/js/config.js"></script>

    <!-- JS -->
    
    <script src="../static/js/L.Control.ZoomBox.min.js"></script>
    <script src="../static/js/leaflet-side-by-side.js"></script>
   
    

    <!-- Leaflet heatmap and Zoombox plugin-->
    <script type="text/javascript" src="../static/js/leaflet-heat.js"></script>
   
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script type="text/javascript" src="../static/js/heatmap-test.js"></script>

  </body>

</html>
